body {
  background-color: #e5e5f7;
  background-image:  repeating-linear-gradient(45deg, #f15353 25%, transparent 25%, transparent 75%, #f15353 75%, #f15353), repeating-linear-gradient(45deg, #f15353 25%, #e5e5f7 25%, #e5e5f7 75%, #f15353 75%, #f15353);
  background-position: 0 0, 10px 10px;
  background-size: 20px 20px;
}
.container {
  /* max-width: 1260px; 
  position: relative; 
  margin-left: auto; 
  margin-right: auto; 
  padding-right: 15px; 
  padding-left: 15px; */
  background-color: whitesmoke;
}