body {
  background-color: #e5e5f7;
  background-image: radial-gradient(#f15353 0.5px, #e5e5f7 0.5px);
  background-size: 10px 10px;
}
.container {
  /* max-width: 1260px; 
  position: relative; 
  margin-left: auto; 
  margin-right: auto; 
  padding-right: 15px; 
  padding-left: 15px; */
  background-color: #fcfcfc;
}

.card-footer {
  display: none;
}